<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Gracias por tu Feedback!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>¡Gracias por tu Feedback!</h1>
        <p>Tu opinión es muy importante para nosotros.</p>
        <a href="/" class="home-link">Volver a la página de inicio</a>
    </div>
    <footer>
        <p>© 2025 Buscador de Productos. Todos los derechos reservados.</p>
    </footer>
</body>
</html>